/* Setting Important Initial Values */

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  
  transition: 0.15s;
}

html,
body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  text-rendering: optimizeLegibility;
  
  margin: 0;
  height: 100vh;
  background-color: var(--color-secondary-950);
}

.App {
  height: 100%;
}

main {
  padding: 24px;
  gap: 8px;

  height: 100%;
  
  color: var(--color-mono-50);
}

main * {
  border-radius: 0.4rem;
  
  /* https://css-tricks.com/how-do-you-do-max-font-size-in-css/ */
  font-size: clamp(12pt, 2.5vmin, 16pt);
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}


h1 {
  font-size: clamp(18pt, 6vmin, 48pt) !important;
}

h2 {
  font-size: clamp(18pt, 5vmin, 38pt) !important;
}

h3 {
  font-size: clamp(16pt, 4.5vmin, 32pt) !important;
}

h4 {
  font-size: clamp(16pt, 4vmin, 28pt) !important;
}

h5 {
  font-size: clamp(16pt, 3.5vmin, 24pt) !important;
}

h6 {
  font-size: clamp(14pt, 3vmin, 18pt) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.error
{
  color: var(--color-system-error) !important;
}

.warning
{
  color: var(--color-system-warning) !important;
}

.info
{
  color: var(--color-system-info) !important;
}

.success
{
  color: var(--color-system-success) !important;
}


