.CardHandDisplay
{
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  width: min-content;
}

.CardHandDisplay > .HandSmall:not(:first-child)
{
  margin-left: -2.5em;
}

.HandLarge
{
  display: flex;
  height: clamp(96px, 24vmin, 256px);
}

.HandSmall
{
  display: flex;
  height: clamp(96px, 12vmin, 256px);
}
