.Logo {
  height: 40vmin;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo * {
  display: flex;
  height: 50%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.Logo > .LogoImage {
  flex: 9;
  margin-top: 8vmin;
}

.Logo > h1 {
  flex: 1;
  margin: 0;
  padding: 0;

  color: var(--color-primary-100);

  font-size: 7vmin;
}

@media screen and (max-width: 664px) {
  .Logo {
    flex-direction: row;
  }

  .Logo .LogoImage {
    margin-top: 0;
    flex: 1;
  }
}

.Logo .LogoSuit {
  position: absolute;
  top: 200px;

  width: 2em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 5vmin;
}

.Logo .LogoSuit:nth-child(1) {
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -25%);
  
  color: var(--color-primary-100);
}

.Logo .LogoSuit:nth-child(2) {
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(-125%, 50%);
  
  color: var(--color-primary-950);
}

.Logo .LogoSuit:nth-child(3) {
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 125%);
  
  color: var(--color-primary-100);
}

.Logo .LogoSuit:nth-child(4) {
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(25%, 50%);
  
  color: var(--color-primary-950);
}

.Logo .LogoSuit::before {
  content: "";
  position: absolute;
  transform-origin: center;
  transform: rotate(45deg);

  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Logo .LogoSuit:nth-child(odd)::before {
  background-color: var(--color-primary-vibrant-700);
}

.Logo .LogoSuit:nth-child(even)::before {
  background-color: var(--color-primary-vibrant-100);
}
