.GameControls
{
  display: flex;
  flex-direction: column;
}

.GameControls > *
{
  flex: 1;
}


.GameControls > div
{
  display: flex;
  flex-direction: row;
  
  flex-wrap: nowrap;
  
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.GameControls > div > *:nth-child(3)
{
  white-space: nowrap;
}

.GameControls > div > *:nth-child(3) > button
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.GameControls > div > *:nth-child(3) > input
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


