:root
{
  --color-secondary-50:  #FAF4F9;
  --color-secondary-100: #F7EDF5;
  --color-secondary-200: #EED8E9;
  --color-secondary-300: #E5C2DC;
  --color-secondary-400: #D9A5CC;
  --color-secondary-500: #CC85BA;
  --color-secondary-600: #B7539E;
  --color-secondary-700: #6B2D5C;
  --color-secondary-800: #5A264D;
  --color-secondary-900: #3D1A34;
  --color-secondary-950: #271122;
}
