:root
{
  --color-tertiary-50:  #C1CCF6;
  --color-tertiary-100: #B4C0EE;
  --color-tertiary-200: #98A8E1;
  --color-tertiary-300: #8495D1;
  --color-tertiary-400: #6F80BE;
  --color-tertiary-500: #5B6CA9;
  --color-tertiary-600: #535F88;
  --color-tertiary-700: #4A526D;
  --color-tertiary-800: #40434E;
  --color-tertiary-900: #1D202A;
  --color-tertiary-950: #0E0F16;
}
